* {
	font-family: sans-serif;
}

body {
	margin:0;
	padding:0;
}

#container {
	background: url(../img/aurora.jpg) 50% 0 no-repeat fixed;
	height: 100%;
	position: relative;
	width: 100%;
}

.home {
	background-color: transparent;
	height: 1000px;
	margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
}

.buttons {
	background-color: transparent;
	margin-bottom: 2px;
}
	button {
		background-color: blue;
		border: none;
		border-radius: 5px;
		color: white;
		font-weight: bold;
		padding: 5px;
		-webkit-transition: all 1s ease;
    	-moz-transition: all 1s ease;
       	-o-transition: all 1s ease;
      	-ms-transition: all 1s ease;
        transition: all 1s ease;
		width: 75px;
	}
	button:hover {
		background-color: #8F8FB3;
		border-radius: 5px;
	}

.slide {
	background-color: transparent;
	height: 500px;
	margin: 0 auto;
	position: absolute;
		left: 12%;
	width: 76%;
}
	.content {
		background-color: #EDEDED;
		box-shadow: 5px 5px 5px black;
		height: 500px;
	}
	.slide h2 {
		background-color: #8F8FB3;
		color: white;
		font-size: 72px;
		margin: 0;
		padding: 15px 0;
		text-align: center;
	}
	.slide ul {
		margin-left: 20px;
	}
	.slide li {
		font-size: 28px;
		padding: 10px;
	}